.card {
    display: flex;
    padding: 2em;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
}

.types {
    display: flex;
    justify-content: space-around;
}