.card {
    display: flex;
    padding: 2em;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
}

.types {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.messageBasket {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 38px;
    margin: 80px;
}

.product {
  border: 1px solid #ccc;
  /* width: 50%; */
  border-radius: 10px;
  padding: 20px;
  /* width: 600px; */
  background-color: #fff;
  margin: 20px;
}

.delBox {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  margin: 20px;
}

.delBody {
    display: flex;
    height: 500px;
}

@media (max-width: 1176px) {
    .delBody {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .types {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .delBox {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        width: 94%;
        background-color: #fff;
        margin: 20px;
      }
}