.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: black;
  margin-bottom: 20px;
}

.columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 0 10px;
  background-color: #1D818D;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
}

.column h3 {
  text-align: center;
  color: #8af3a0;
}

.order {
  background-color: #AAAFB0;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.order p {
  margin: 5px 0;
}

button {
  background-color: #0f0f0f;
  color: black;
  border: 1px solid #8af3a0;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #8af3a0;
  color: #0f0f0f;
}
