.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-between;
  width: 100%;
  height: 100%; */
}

.about {
  width: 100%;
  margin: 30px 100px 50px;
  text-align: center;
}

.containerCatalog {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* gap: 40px; */
  width: 90%;
  flex-wrap: wrap;
}

.map {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.map,
.chat {
  width: 40vw;
  height: 30vw;
  min-width: 600px;
}

.inputCatalog {
  border: 1px, solid, grey;
  border-radius: 3px;
}

.borderChat {
  border-radius: 5px;
}

.responsive-map {
  width: 100%;
  max-width: 500px;
  height: 0;
  padding-bottom: 76%; /* Aspect ratio (380px/500px = 76%) */
  position: relative;
}

.responsive-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.botText {
  border: 1px solid #3062b4;
  padding: 10px;
  border-radius: 15px;
  margin-left: 120px;
}

.circul {
  border: 1px solid #3062b4;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 60px;
}

.circul2 {
  border: 1px solid #3062b4;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 1;
  top: 55px;
  right: 40px;
}

@media (max-width: 700px) {
  .box {
    /* background-color: lightblue; */
  }

  .map {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
  }


.first {
  order: 2;
}

.second {
  order: 1;
}

  .containerCatalog {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 280px;
    width: 90%;
    flex-wrap: wrap-reverse;
  }

  .chat-container {
    min-width: 550px;
    width: 550px;
  }

  .borderChat {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 450px;
    width: 650px;
    height: 400px;
    overflow-y: auto;
  }

  .box {
    font-size: 15px;
  }

  .about {
    font-size: 15px;
    padding: 0 20px;
    margin: 30px 30px 30px;
  }

  .inputCatalog,
  .inputBot {
    max-width: 320px;
  }

  
}
